$grey-000: #FFFFFF;
$grey-100: #F3F4F6;
$grey-200: #E6E7EB;
$grey-300: #D1D4DB;
$grey-400: #9CA2AE;
$grey-500: #6B7380;
$grey-600: #4C5564;
$grey-700: rgb(56, 65, 82);
$grey-800: #202938;
$grey-900: #111828;

$blue-100: #E9F1FF;
$blue-200: #BED6FE;
$blue-300: #92BBFE;
$blue-400: #67A0FD;
$blue-500: #3B85FD;
$blue-600: #025DF0;
$blue-700: #0243AC;
$blue-800: #012867;
$blue-900: #000D22;

$green-100: #E5FFEF;
$green-200: #B1FFD0;
$green-300: #7EFFB0;
$green-400: #4AFF91;
$green-500: rgb(22, 255, 113);
$green-600: #00D754;
$green-700: #009A3C;
$green-800: #005C24;
$green-900: #001F0C;

$red-100: #FFE9EC;
$red-200: #FEBEC6;
$red-300: #FE92A1;
$red-400: #FD677B;
$red-500: rgb(253, 59, 85);
$red-600: #F00222;
$red-700: #AC0219;
$red-800: #67010F;
$red-900: #220005;

$yellow-100: #FFFCE5;
$yellow-200: #FFF6B1;
$yellow-300: #FFF17E;
$yellow-400: #FFEB4A;
$yellow-500: rgb(255, 229, 22);
$yellow-600: #D7BF00;
$yellow-700: #9A8900;
$yellow-800: #5C5200;
$yellow-900: #1F1B00;

$purple-100: #F2E9FF;
$purple-200: #D9BEFE;
$purple-300: #BF92FE;
$purple-400: #A667FD;
$purple-500: #8c3bfd;
$purple-600: #6602F0;
$purple-700: #4902AC;
$purple-800: #2C0167;
$purple-900: #0F0022;

$primary-background-color:  #11101D;
$primary-background-color-500: rgb(77, 71, 129, .70);
$primary-text-color:  #fff;
