/*===================
        Flex
===================*/

%flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

%flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

%flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

%center-column-izq {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

%center-column-der {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

%center-row-izq {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

%center-row-der {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

/* TEXTOS */

%cero-border {
  margin: 0;
  padding: 0;
}
