$font-size-10: .65em;
$font-size-11: .75em;
$font-size-12: .85em;
$font-size-13: .9em;
$font-size-14: .95em;
$font-size-15: 1em;
$font-size-16: 1.05em;
$font-size-20: 1.09em;
$font-size-18: 1.2em;
$font-size-24: 1.7em;
