$gl-ms: "screen and (max-width: 23.5em)";
$gl-xs: "screen and (max-width: 35.5em)";
$gl-sm: "screen and (max-width: 48em)";
$gl-md: "screen and (max-width: 64em)";
$gl-lg: "screen and (max-width: 80em)";
