@use './../../../../../../scss/styles/colores' as *;
@use './../../../../../../scss/styles/extends';
@use './../../../../../../scss/styles/fonts' as *;
@use './../../../../../../scss/styles/screen' as *;

.chart-container {
  position: relative;
  width: 100%;
  height: 400px;
  margin: auto;
}

.box-data-table-and-charts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 12px;
  align-self: stretch;
  flex-direction: column;

  .line-seleccion {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 5px;
    overflow: hidden;

    .btn-seleccion-type {
      width: 100%;
      height: auto;
      padding: 8px 24px;
      background-color: $grey-000;
      box-sizing: border-box;
      box-shadow: inset 2px 2px 4px rgba($grey-900, 0.15), inset -2px -2px 4px rgba($grey-100, 0.15);
      cursor: pointer;
      transition: all .2s ease-in-out;
      @extend %flex-center;

      p {
        font-size: $font-size-13;
        font-weight: 400;
        color: $grey-600;
        transition: all .2s ease-in-out;
        margin: 0 !important;
      }

      &:hover {
        background-color: $grey-100;
        p {
          color: $grey-700;
        }
      }

      &:active {
        background-color: #11101D;
        p {
          color: $grey-100;
        }
      }

      &.btn-active {
        background-color: $grey-700;
        p {
          color: $grey-100;
        }
      }
    }
  }

  .content-chart {
    width: 100%;
    display: flex;
    min-width: 390px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    position: relative;
    @extend %flex-center;

    @media(max-width: 942px) {
      min-width: 100%;
    }
  }

  .content-chart-doughnut {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 6px;
    align-self: stretch;
    flex-wrap: wrap;

    .card-bcb {
      display: flex;
      width: auto;
      min-width: 170px;
      max-width: 390px;
      padding: 12px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 12px;
      flex: 1 1 170px;
      border-radius: 12px;
      background-color: $grey-000;
      align-self: stretch;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.05);

      p {
        font-size: $font-size-15;
        font-weight: 700;
        color: $grey-800;
        text-align: center;
        line-height: normal;
      }
    }
  }

  .small-chart-doughnut {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 6px;
    align-self: stretch;
    flex-wrap: wrap;

    .card-bcb {
      display: flex;
      width: auto;
      min-width: 80px;
      max-width: 350px;
      padding: 12px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6px;
      flex: 1 0 0;
      border-radius: 12px;
      background-color: $grey-000;
      align-self: stretch;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.05);

      p {
        font-size: $font-size-12;
        font-weight: 700;
        color: $grey-800;
        text-align: center;
        line-height: normal;
      }
    }
  }

  .content-chart-loader {
    width: 100%;
    background-color: $grey-700;

    .loading-chart {
      width: 100%;
      min-width: 390px;
      height: 500px;
      @extend %flex-center;

      @media(max-width: 942px) {
        min-width: auto;
      }

      .loader {
        position: relative;
        width: 75px;
        height: 100px;
        background-repeat: no-repeat;
        background-image: linear-gradient($grey-000 50px, transparent 0),
        linear-gradient($grey-000 50px, transparent 0),
        linear-gradient($grey-000 50px, transparent 0),
        linear-gradient($grey-000 50px, transparent 0),
        linear-gradient($grey-000 50px, transparent 0);
        background-size: 8px 100%;
        background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px, 60px 50px;
        animation: pillerPushUp 4s linear infinite;
        transform: scale(2);
      }

      .loader:after {
        content: '';
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 10px;
        height: 10px;
        background: $blue-500;
        border-radius: 50%;
        animation: ballStepUp 4s linear infinite;
      }

      @keyframes pillerPushUp {
        0% , 40% , 100%{background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px, 60px 50px}
        50% ,  90% {background-position: 0px 50px, 15px 58px, 30px 66px, 45px 78px, 60px 90px}
      }

      @keyframes ballStepUp {
        0% {transform: translate(0, 0)}
        5% {transform: translate(8px, -14px)}
        10% {transform: translate(15px, -10px)}
        17% {transform: translate(23px, -24px)}
        20% {transform: translate(30px, -20px)}
        27% {transform: translate(38px, -34px)}
        30% {transform: translate(45px, -30px)}
        37% {transform: translate(53px, -44px)}
        40% {transform: translate(60px, -40px)}
        50% {transform: translate(60px, 0)}
        57% {transform: translate(53px, -14px)}
        60% {transform: translate(45px, -10px)}
        67% {transform: translate(37px, -24px)}
        70% {transform: translate(30px, -20px)}
        77% {transform: translate(22px, -34px)}
        80% {transform: translate(15px, -30px)}
        87% {transform: translate(7px, -44px)}
        90% {transform: translate(0, -40px)}
        100% {transform: translate(0, 0);}
      }
    }
  }
}
